.button-manager {
    cursor: pointer;
    transition: all 0.3s ease;
}
.button-manager:hover {
    background-color: #F8C700;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
    transform: scale(1.01);
}
.button-choose {
    background-color: #F8C700;
}
.chart-mode {
    display: none;
}
.button-employee-manager {
    cursor: pointer;
    transition: all 0.3s ease;
    border: none;
    background-color: white;
    color: #8392AB ;
}
.button-employee-manager:hover {
    transform: scale(1.05);
    color: #F8C700;
}
#style-2::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}
 
#style-2::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}
 
#style-2::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #D62929;
}